/*
 *
 *  // Map Markers CSS
 *
 */
.prometMap__mapContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15px;
  padding-right: 15px; }

.prometMap__mapHolder {
  display: inline-block;
  position: relative; }
  .prometMap__mapHolder svg {
    max-width: 100%; }
.prometMap__mapHolder img{
  max-width: 100%;
  width: 100%;
}
.prometMapLegend {
  background-color: #f4f4f4; }

.prometMapLegend__member {
  margin-bottom: 1em; }

.prometMapLegend__item{
  margin-bottom: 15px;
}

.prometMapLegend__item .prometMapLegend__member:last-child {
  margin-bottom: 0px; }

.prometMapLegend__item .sectionHeader {
  cursor: pointer; }

.prometMapLegend__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@-webkit-keyframes mapMarkerAnimation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes mapMarkerAnimation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

.prometMap__marker {
  position: absolute;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  top: 42%;
  left: 69%;
  z-index: 1; }
  .prometMap__marker.current {
    z-index: 2; }
  .prometMap__marker img {
    cursor: pointer;
    position: relative;
    z-index: 3; }
    .prometMap__marker img:hover {
      -webkit-animation-name: mapMarkerAnimation;
              animation-name: mapMarkerAnimation;
      -webkit-animation-duration: .5s;
              animation-duration: .5s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }

.prometMap__markerContent {
  width: 320px;
  background-color: #9ea18e;
  display: inline-block;
  border-radius: 15px;
  padding: 25px;
  padding-bottom: 35px;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 49%;
  z-index: 1; }
  .prometMap__markerContent .sectionHeader {
        margin-top: 0px;
    margin-bottom: .5em; }

.prometMap_markerMember {
  margin-bottom: .5em; }

.prometMap__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #231f20; }
